<div class="col-sm-12">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h5>Product List</h5>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-md btn-primary float-end" [routerLink]="['./addItem']">Add Item</button>
        </div>
    </div>
    <!-- style="width: 1200px; height: 300px;" -->

    <div class="row">
        <ag-grid-angular
    style="height: 300px;"
    class="ag-theme-alpine col-sm-12"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>

    </div>
</div>